# Ignore Jekyll build output
_site/

# Ignore Ruby-related files
.bundle/
vendor/
Gemfile.lock

# OS-specific and IDE files
.DS_Store
*.log
*.swp
*.swo

# Node modules (if you ever use npm)
node_modules/

# Cache or temporary files
*.tmp
.cache/
