<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="author" content="{{ site.author | default: '' }}" />
<title>{{ page.title | default: site.title }}</title>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ '/assets/vitamin-d.png' | relative_url }}" />

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

<!-- SimpleLightbox plugin CSS needed for things like three.js integration -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

<!-- Core Theme CSS (compiled Bootstrap + custom) -->
<link href="{{ '/assets/css/styles.css' | relative_url }}" rel="stylesheet" />
